body {
  font-family: serif;
  font-size: 15px
}

a { text-decoration:none; }
a:hover { text-decoration:underline; }

div.info {
  width: 640px;
  height: 200px;
}

div.m {
  width: 640px;
  margin-bottom: 1em;
}
div.l {
  width: 512px;
  float: left;
}
div.r {
  width: 100%;
}

h1, h2 {
  background-color: #e9e9f5;
  padding: 2px
}

img.photo {
  height: 100%;
  width=100%;
  object-fit: contain;
  margin-right: 5px;
}
img.icon {
  font-size: 16px;
  width: 1em;
}

footer {
  font-size: small;
  text-align: left;
}

ul {
  margin: 0;
}
