body {
  font-family: serif;
  background-image: url("bg.gif");
  background-clip: border-box;
  max-width: 800px;
}

div.page {
  min-width: 32em; /* until we can work out better responsive design... */
  padding: 10px;
  border: inset #eeeeee;
}

hr {
  border: 1px inset #eeeeee;
}

a { text-decoration:none; }
a:hover { text-decoration:underline; }

h1 {
  margin-top: 0;
}

h2 {
  margin-bottom: 10px;
}

div.info {
  width: 100%;
  height: 180px; /* this effectively controls photo height */
  float: left;
}

img.photo {
  object-fit: contain; /* image is scaled to height of containing div */
  height: 95%;
  margin-right: 10px;
  float: left;
}

img.icon {
  width: 1em;
}

div.m {
  width: 100%;
  margin-bottom: 1em;
  clear: left;
}

hr {
  clear: left;
  /* explicitly specifying these prevents any weirdness in rendering */
  color: gray;
  border-top: thin solid;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
td {
  vertical-align: top;
}
td.date {
  padding-right: 1em;
  white-space: nowrap;
}
td.job {
  padding-bottom: 1em;
}

ul {
  margin: 0;
  padding-left: 1.5em;
}

footer {
  font-size: small;
}

