body {
  font-family: serif;
  font-size: 1em; /* no font scaling right now => default 16px/12pt */
}

h1, h2 {
  background-color: #e9e9f5;
  padding: 2px
}

a { text-decoration:none; }
a:hover { text-decoration:underline; }

div.info {
  width: 100%;
  min-width: 50em;
  height: 200px; /* this effectively controls photo height */
}

img.photo {
  height: 100%;
  width=100%;
  object-fit: contain; /* image is scaled to height of containing div */
  margin-right: 5px;
}
img.icon {
  /*font-size: 16px;*/ /* in case you change body font-size from default */
  width: 1em;
}

div.m {
  width: 100%;
  min-width: 50em;
  margin-bottom: 1em;
}
div.l {
  width: 12em;
  float: left;
}
div.r {
  width: 100%;
}

ul.r {
  margin: 0;
  margin-left: 12em;
}

footer {
  font-size: small;
}
